# Dependency directories
node_modules

# Docker files
Dockerfile
docker-compose.yml

# Git
.git
.gitignore

# Next.js build output
.next
out

# Local Environment Variables
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode